﻿.sidebar-icons {
    font-family: 'HLS_icons' !important;
    speak: none;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.e-sidebar .dashboard::before {
    content: '\f3fd';
}

.e-sidebar .customers::before {
    content: '\f507';
}

.e-sidebar .expand::before, .e-sidebar.e-right.e-open .expand::before {
    content: '\f061';
}

.e-sidebar.e-open .expand::before, .e-sidebar.e-right .expand::before {
    content: '\f060';
}

.e-sidebar.e-dock.e-close span.e-text {
    display: none;
}

.e-sidebar.e-dock.e-open span.e-text {
    display: inline-block;
}

.e-sidebar li {
    list-style-type: none;
    cursor: pointer;
}

.e-sidebar ul {
    padding: 0;
}

.e-sidebar span.sidebar-icons {
    line-height: 2;
}

.e-open .sidebar-icons {
    margin-right: 16px;
}

.e-open .e-text {
    overflow: hidden;
    font-size: 15px;
}

.sidebar-toggler {
    display: block;
    padding: 0.5rem 1rem;
}

.sidebar-item {
    text-align: center;
}

.e-sidebar.e-open .sidebar-item {
    text-align: left;
    padding-left: 15px;
}

::deep a {
    color: inherit;
}

::deep a.active {
    color: #e3165b;
}

::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #e3165b;
}