﻿@using Syncfusion.Blazor.Navigations
<SfSidebar @ref="_sidebar" Width="220px" DockSize="72px" EnableDock="true" Type="SidebarType.Push" @bind-IsOpen="_open">
    <ChildContent>
        <div class="dock">
            <ul>
                <li class="sidebar-item" id="toggle" @onclick="_toggleSidebar">
                    <div class="sidebar-toggler">
                        <span class="sidebar-icons expand"></span>
                        <span class="e-text" title="HLS">HLS</span>
                    </div>
                </li>

                <li class="sidebar-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="sidebar-icons dashboard"></span>
                        <span class="e-text" title="dashboard">Dashboard</span>
                    </NavLink>
                </li>

                <li class="sidebar-item">
                    <NavLink class="nav-link" href="customers" Match="NavLinkMatch.Prefix">
                        <span class="sidebar-icons customers"></span>
                        <span class="e-text" title="customers">Customers</span>
                    </NavLink>
                </li>
            </ul>
        </div>
    </ChildContent>
</SfSidebar>

@code{
    private SfSidebar _sidebar;
    private bool _open;

    private void _toggleSidebar() {
        _open = !_open;
    }

}