﻿@using HLS.UI.GraphQL
@using System.ComponentModel.DataAnnotations
@inherits DialogBase

@inject NavigationManager _nav
@inject HlsClient _client

<SfDialog ShowCloseIcon="true" Width="400px" @bind-Visible="Visibility">
    <DialogTemplates>
        <Header>Register new customer</Header>
        <Content>
            <EditForm EditContext="@_editContext">
                <ObjectGraphDataAnnotationsValidator></ObjectGraphDataAnnotationsValidator>

                <div class="form-group">
                    <div class="pb-2">
                        <label>Name<span class="text-danger">*</span></label>
                        <SfTextBox CssClass="e-outline" @bind-Value="@_annotation.Name" Placeholder="John Doe"></SfTextBox>
                        <ValidationMessage For="@(() => _annotation.Name)"/>
                    </div>

                    <div class="py-2">
                        <label>Email</label>
                        <SfTextBox CssClass="e-outline" @bind-Value="@_annotation.Email" Placeholder="johndoe@unknown.com"></SfTextBox>
                        <ValidationMessage For="@(() => _annotation.Email)"/>
                    </div>

                    <div class="pt-2">
                        <label>PhoneNumber</label>
                        <SfMaskedTextBox Mask="000 00 000" CssClass="e-outline" @bind-Value="@_annotation.PhoneNumber" Placeholder="987 65 432"></SfMaskedTextBox>
                        <ValidationMessage For="@(() => _annotation.PhoneNumber)"/>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="CANCEL" OnClick="Cancel"></DialogButton>
        <DialogButton IsPrimary="true" Content="CONFIRM" OnClick="Confirm" Disabled="!_canConfirm()"></DialogButton>
    </DialogButtons>
    <DialogEvents OnOpen="OnDialogOpen" OnClose="OnDialogClose"></DialogEvents>
</SfDialog>

<SfToast @ref="_toast" ID="toast_type">
    <ToastPosition X="Right" Y="Bottom"></ToastPosition>
</SfToast>

@code {
    private SfToast _toast;
    private Annotation _annotation;
    private EditContext _editContext;
    private Status _status = Status.Pending;

    protected override void OnInitialized() {
        ParamName = "CustomerRegistrationDialog";

        _initEditForm();

        base.OnInitialized();
    }

    private void _initEditForm() {
        _annotation = new Annotation();
        _editContext = new EditContext(_annotation);
    }

    private void Cancel() {
        CloseDialog();
    }

    private async Task Confirm() {
        var isValid = _editContext.Validate();
        if (!isValid) {
            return;
        }

        _status = Status.Confirming;

        await _toast.ShowAsync(new ToastModel {
            Title = "Information!",
            Content = "Registering customer...",
            CssClass = "e-toast-info",
            Icon = "toast-icons e-info"
        });

        var result = await _client.RegisterNewCustomer.ExecuteAsync(_buildInput());

        switch (result.Data?.RegisterNewCustomer) {
            case RegisterNewCustomer_RegisterNewCustomer_RegisterNewCustomerSuccess:
                await _toast.ShowAsync(new ToastModel {
                    Title = "Success!",
                    Content = "Customer registered.",
                    CssClass = "e-toast-success",
                    Icon = "toast-icons e-success"
                });
                _status = Status.Completed;
                CloseDialog();
                break;
            case RegisterNewCustomer_RegisterNewCustomer_RegisterNewCustomerFailure failure: {
                foreach (var error in failure.Errors) {
                    await _toast.ShowAsync(new ToastModel {
                        Title = "Error!",
                        Content = $"{error.Message}",
                        CssClass = "e-toast-danger",
                        Icon = "toast-icons e-danger"
                    });
                }
                _status = Status.InProgress;
                break;
            }
        }
    }

    private RegisterNewCustomerInput _buildInput() {
        var contactInfo = new RegisterNewCustomerContactInfoInput {
            Email = _annotation.Email,
            PhoneNumber = _annotation.PhoneNumber
        };

        return new RegisterNewCustomerInput {
            Name = _annotation.Name,
            ContactInfo = contactInfo
        };
    }

    private new void OnDialogOpen() {
        _initEditForm();
        _status = Status.InProgress;

        base.OnDialogOpen();
    }

    private new void OnDialogClose() {
        _status = Status.Pending;

        base.OnDialogClose();
    }

    private bool _canConfirm() {
        return _status switch {
            Status.InProgress => true,
            _ => false
            };
    }


    private sealed class Annotation {
        [Required(ErrorMessage = "The Name field is required.")]
        public string Name { get; set; }

        [EmailAddress]
        public string Email { get; set; }

        [Phone]
        public string PhoneNumber { get; set; }
    }

    private enum Status {
        Pending,
        InProgress,
        Confirming,
        Completed
    }

}