﻿@page "/Customers"

@inject CustomerRoutingService _routing;

<div class="d-flex flex-row justify-content-between align-items-center">
    <h5>Customers</h5>
    <SfButton IsPrimary="true" @onclick="_routing.NavigateToCustomerRegistrationDialog">REGISTER NEW CUSTOMER</SfButton>
</div>

<FeatCustomerRegistrationDialog></FeatCustomerRegistrationDialog>